body {
  background-image: url('./bg.png');
  color: #404e5c;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
}
ul li {
  padding-right: 1.8em;
}
.container {
  background-color: white;
  box-shadow: 0 0 10px black;
  margin: 0 auto;
  width: 80%;
}
.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.column-content {
}
.name {
  font-size: 2em;
  font-weight: 300;
}
.animate-follow {
  opacity: 0;
  position: relative;
  top: -25px;
}
.animate-letter {
  margin-right: -0.2em;
  opacity: 0;
  position: relative;
  top: -100px;
}
.animate-skew {
  opacity: 0;
  position: absolute;
  transform-origin: top left;
  width: 80%;
}
.animate-column {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin-bottom: 0.3em;
  width: 20%;
}
