<div class="col-lg-4 col-md-6 project-item-container p-0"
     style="background-image: url({{ include.image | default: 'images/stripes.png' }})">
  <a href="{{ include.link | default: '#' }}"
     style="color: {{ include.text-color | default: 'white' }}">
    <div class="project-item">
      <div class="project-text">
        {{ include.name }}
        <div class="project-desc"
             style="color: {{ include.desc-color | default: 'black' }}">
          {{ include.desc }}
        </div>
      </div>
    </div>
    <div class="project-skew"
         style="background-color: {{ include.skew-color | default: 'red' }}">
    </div>
  </a>
</div>
