{{ define "main" }}
  <div class="container mx-auto md:max-w-3xl px-8 pt-12">
    <a class="inline-flex items-center font-bold link" href="{{ .Site.BaseURL }}/{{ .Section }}">
      <svg class="w-5 h-5 mr-1 pt-2px pr-2px" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
      </svg>
      See all {{ .Section }}
    </a>
    <section class="pt-4">
      <small class="block text-sm uppercase font-bold tracking-wider text-soft">
        {{ .Date.Format "Jan 2, 2006" }}
      </small>
      <h1 class="text-3xl md:text-4xl font-bold leading-tight">{{ .Title }}</h1>
      {{ partial "colored-horizontal-rule.svg" "ml-2 mt-3 mb-12" }}
      <article id="post-content">
        {{ .Content }}
      </article>
    </section>
    <aside class="flex pb-16 pt-12">
      {{ with .PrevInSection }}
        <div class="flex-1 pr-4">
          <div class="text-soft">
            Previous article
          </div>
          <a
            class="inline font-bold text-lg sm:text-2xl hover:underline"
            href="{{ .RelPermalink }}"
          >
            {{ .Title }}
          </a>
        </div>
      {{ end }}
      {{ with .NextInSection }}
        <div class="flex-1 ml-auto text-right pl-4">
          <div class="text-soft">
            Next article
          </div>
          <a
            class="inline font-bold text-lg sm:text-2xl hover:underline"
            href="{{ .RelPermalink }}"
          >
            {{ .Title }}
          </a>
        </div>
      {{ end }}
    </aside>
  </div>
{{ end }}
