<div
  class="animate-screen fixed z-50 bg-gray-850 inset-0 w-screen h-screen flex justify-center items-center"
  style="transform: translateY(-100vh)"
>
  <div class="text-5xl font-bold text-blue-100 leading-snug pb-16">
    <div class="-mb-8 flex justify-end">
      <svg
        class="animate-shape text-orange-400 order-1 mt-6 w-6"
        viewBox="0 0 32 32"
        stroke="currentColor"
        fill="none"
      >
        <rect x="6" y="6" rx="6" width="20" height="20"></rect>
      </svg>
      <svg
        class="animate-shape text-teal-400 order-3 mt-16 w-6"
        viewBox="0 0 32 32"
        stroke="currentColor"
        fill="none"
      >
        <polygon
          points="16,7 26,24 6,24"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></polygon>
      </svg>
      <svg
        class="animate-shape text-blue-500 order-2 w-6"
        viewBox="0 0 32 32"
        stroke="currentColor"
        fill="none"
      >
        <circle cx="16" cy="16" r="10"></circle>
      </svg>
    </div>
    <div class="animate-name pr-12 overflow-hidden -mb-4">
      {{ range (split "Jason" "") }}<span class="animate-name__first inline-block">{{ . }}</span>{{ end }}
    </div>
    <div class="animate-name pl-12 overflow-hidden">
      {{ range (split "Liang" "") }}<span class="animate-name__second inline-block">{{ . }}</span>{{ end }}
    </div>
    <div class="relative pt-1">
      {{ range (slice "bg-blue-600" "bg-orange-500" "bg-teal-500" "bg-white") }}
        <div class="animate-line absolute h-1 rounded-full {{ . }}"></div>
      {{ end }}
    </div>
  </div>
</div>
