{{ define "main" }}
  <div class="flex items-center justify-center h-screen">
    <div class="pb-4">
      <div class="flex text-4xl pb-2 items-center">
        <h1>404</h1>
        <div class="w-2px border border-gray-900 mx-3 py-5"></div>
        <p>Page not found</p>
      </div>
      <a href="/" class="inline-flex items-center font-bold link">
        <svg class="w-5 h-5 mr-1 pt-2px pr-2px" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
        </svg>
        Home
      </a>
    </div>
  </div>
{{ end }}
