---
layout: wrapper
---

<a href="index.html" class="anchor-noback">
  <div class="back-arrow">
    <i class="fas fa-home"></i><br/>
    Home
  </div>
</a>
<div class="header-group">
  <div class="header header-accent"></div>
  <div class="header header-background" style="top: -6px">
    <div class="header-unskew">
      <h1>
        <button class="hamburger hamburger--spin" type="button" style="margin-top: -1em">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <span class="header-title">{{ page.title }}</span>
      </h1>
      <div class="animate-menu">
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div style="padding-bottom: 7em"></div>
  {{ content }}
</div>
