---
layout: wrapper
---

<div class="header-group">
  <div class="header header-accent"></div>
  <div class="header header-background" style="top: -6px">
    <div class="header-unskew">
      <h1>
        <button class="hamburger hamburger--spin" type="button" style="margin-top: -1em">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <span class="header-title">{{ page.title }}</span>
      </h1>
      <div class="menu-content">
        <div class="animate-menu-item">
          <a href="index.html">
            <i class="fas fa-home fa-fw"></i>
            Home
          </a>
        </div>
        <div class="animate-menu-item">
          <a href="about.html">
            <i class="far fa-user fa-fw"></i>
            About Me
          </a>
        </div>
        <div class="animate-menu-item">
          <a href="projects.html">
            <i class="far fa-keyboard fa-fw"></i>
            Projects
          </a>
        </div>
        <div class="animate-menu-item">
          <a href="contact.html">
            <i class="far fa-envelope fa-fw"></i>
            Contact
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div style="padding-bottom: 7em"></div>
  {{ content }}
</div>
