@font-face {
  font-family: 'Bebas Neue';
  src: url(./fonts/BebasNeue-Regular.otf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Regular.ttf);
}

:root {
  --accent-color: #e71d36;
  --primary-color: rgba(0, 0, 0, 0.85);
  --secondary-color: rgba(0, 0, 0, 0.5);
  --primary-background-color: #fff;
  --secondary-background-color: rgba(0, 0, 0, 0.04);
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Bebas Neue', sans-serif;
}

::selection {
  background: var(--primary-color);
  color: var(--primary-background-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--primary-background-color);
}

body {
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

a,
a:hover {
  color: var(--accent-color);
}
