@font-face {
  font-family: 'Iosevka';
  src: url(./fonts/iosevka-light.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.accent {
  color: #e71d36;
}

.secondary {
  color: rgba(0, 0, 0, 0.5);
}
