/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Black.ttf") format("truetype");
  font-weight: 900;
}

.btn {
  @apply px-6 py-2;
  @apply font-bold;
  @apply inline-flex items-center;
  @apply rounded;
  @apply outline-none;
  @apply transition duration-200;
  @apply transform;
}

.btn:focus {
  @apply shadow-outline;
}

.btn:hover {
  @apply -translate-y-2px;
}

.badge {
  @apply inline-block;
  @apply p-1 px-4;
  @apply font-bold;
  @apply rounded-full;
}

.fix-svg > svg {
  width: 100%;
}

@tailwind utilities;
