html {
  overflow-y: scroll;
}
body {
  background-image: url('../images/bg.png');
  color: #333333;
  font-family: 'Dosis', sans-serif;
  font-size: 1.4em;
  height: 100%;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
textarea {
  font-family: 'Nunito', sans-serif;
}
a {
  color: inherit;
  transition: background-color 0.3s;
  outline: none;
}
a:hover {
  background-color: #DDDDDD;
}
.anchor-noback {
  text-decoration: none;
}
.anchor-noback:hover {
  border-bottom-color: transparent;
  background-color: inherit;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  padding-right: 1.8em;
  color: #555B6E;
}
input, textarea {
  background-color: #F2F2F2;
  border: none;
  border-bottom: 2px solid #BBBBBB;
  font-family: inherit;
  margin-bottom: 1em;
  padding: 16px;
  transition: border-color 0.3s ease-in-out;
}
input:focus, textarea:focus {
  border-color: #F2F2F2;
}
input:invalid, textarea:invalid {
  box-shadow: none;
}
button {
  outline: none;
}
.container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
  min-height: 100vh;
  width: calc(80% - 1px);
}
.header {
  background-color: #F2F2F2;
  transform-origin: top left;
  position: fixed;
  width: 80%;
  opacity: 0;
  z-index: 999;
  height: 0;
}
.header-unskew {
  margin: 2em;
  margin-top: 0;
  opacity: 0;
  transform-origin: top left;
}
.main {
  padding: 4em;
  padding-top: 0;
  opacity: 0;
  display: relative;
}
.form-button {
  font-family: inherit;
  margin-left: -4px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid #BBBBBB;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
}
.input-container {
  display: flex;
  width: 100%;
}
.input-icon {
  padding: 12px;
  padding-bottom: 0;
  width: 1.2em;
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.animate-follow {
  opacity: 0;
  position: relative;
  top: -25px;
}
.animate-letter {
  margin-right: -0.2em;
  opacity: 0;
  position: relative;
  top: -100px;
}
.animate-skew {
  opacity: 0;
  position: absolute;
  transform-origin: top left;
  width: 80%;
}
.animate-column {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin-bottom: 0.3em;
  width: 20%;
}
.menu-content {
  opacity: 1;
  margin-left: 20%;
  margin-top: 2.5em;
  display: none;
}
.animate-menu-item {
  font-size: 1.5em;
  top: -50px;
  margin-bottom: 0.5em;
  position: relative;
  opacity: 0;
}
.animate-menu-item i {
  padding-right: 12px;
  width: 1.2em;
  text-align: center;
}
.animate-menu-item a {
  text-decoration: none;
}
